<%- contentFor('13mai2017') %>

<h1 class=" text-center wow lightSpeedIn" data-wow-duration="6.0s" data-wow-delay="1.0s"> Concert du 13 mai 2017 </h1>

    <div class="concert mai13">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 wow bounceInLeft" data-wow-duration="3.0s" data-wow-delay="2.0s">
            <a href="#" class="thumbnail">
                <img src="img/13mai1.jpg" alt="13mai1" width="100%" height="auto">
            </a>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 wow bounceInDown" data-wow-duration="2.0s" data-wow-delay="3.0s">
            <a href="#" class="thumbnail">
                <img src="img/13mai2.jpg" alt="13mai2" width="100%" height="auto">
            </a>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 wow bounceInUp" data-wow-duration="2.0s" data-wow-delay="3.0s">
            <a href="#" class="thumbnail">

                <img src="img/13mai3.jpg" alt="13mai3" width="100%" height="auto">
            </a>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 wow bounceInRight" data-wow-duration="3.0s" data-wow-delay="2.0s">
            <a href="#" class="thumbnail">
                <img src="img/13mai4.jpg" alt="13mai4" width="100%" height="auto">
            </a>
        </div>
    </div>