<%- contentFor('14septembre2016') %>

    <div class="concert septembre14">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <a href="#" class="thumbnail">
                <img src="img/14sept1.jpg" alt="14sept1" width="100%" height="auto%">
            </a>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <a href="#" class="thumbnail">
                <img src="img/14sept2.jpg" alt="14sept2" width="100%" height="auto%">
            </a>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <a href="#" class="thumbnail">
                <img src="img/14sept3.jpg" alt="14sept3" width="100%" height="auto%">
            </a>
        </div>
    </div>