<%- contentFor('2septembre2017') %>

    <h1 class=" text-center wow zoomInLeft" data-wow-duration="3.0s" data-wow-delay="1.0s"> Concert du 2 Septembre 2017 </h1>


    <div class="concert septembre2">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 wow zoomInDown" data-wow-duration="3.0s" data-wow-delay="2.0s"> 
            <a href="#" class="thumbnail">
                <img src="img/2sept2017-1.jpg" alt="2sept2017-1" width="100%" height="auto">
            </a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 wow zoomInDown" data-wow-duration="3.0s" data-wow-delay="3.0s">
            <a href="#" class="thumbnail">
                <img src="img/2sept2017-2.jpg" alt="2sept2017-2" width="100%" height="auto">
            </a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 wow zoomInDown" data-wow-duration="3.0s" data-wow-delay="4.0s">
            <a href="#" class="thumbnail">
                <img src="img/2sept2017-3.jpg" alt="2sept2017-3" width="100%" height="auto">
            </a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 wow zoomInDown" data-wow-duration="3.0s" data-wow-delay="5.0s">
            <a href="#" class="thumbnail">
                <img src="img/2sept2017-4.jpg" alt="2sept2017-4" width="100%" height="auto">
            </a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 jerryp wow zoomInDown" data-wow-duration="3.0s" data-wow-delay="6.0s">
            <a href="#" class="thumbnail">
                <img src="img/2sept2017-5.jpg" alt="2sept2017-5" width="100%" height="auto">
            </a>
        </div>
    </div>