<%- contentFor('2septembre2017') %>

    <div class="concert">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <a href="#" class="thumbnail">
                <img src="img/2sept2017-1.jpg" alt="2sept2017-1" width="100%" height="auto%">
            </a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <a href="#" class="thumbnail">
                <img src="img/2sept2017-2.jpg" alt="2sept2017-2" width="100%" height="auto%">
            </a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <a href="#" class="thumbnail">
                <img src="img/2sept2017-3.jpg" alt="2sept2017-3" width="100%" height="auto%">
            </a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <a href="#" class="thumbnail">
                <img src="img/2sept2017-4.jpg" alt="2sept2017-4" width="100%" height="auto%">
            </a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 jerryp">
            <a href="#" class="thumbnail">
                <img src="img/2sept2017-5.jpg" alt="2sept2017-5" width="100%" height="auto%">
            </a>
        </div>
    </div>