<%- contentFor('9avril2016') %>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
        <a href="#" class="thumbnail">
            <img src="img/9avril1.jpg" alt="9avril1" width="100%" height="auto%">
        </a>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
        <a href="#" class="thumbnail">
            <img src="img/9avril2.jpg" alt="9avril2" width="100%" height="auto%">
        </a>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
        <a href="#" class="thumbnail">
            <img src="img/9avril3.jpg" alt="9avril3" width="100%" height="auto%">
        </a>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
        <a href="#" class="thumbnail">
            <img src="img/9avril4.jpg" alt="9avril4" width="100%" height="auto%">
        </a>
    </div>