<%- contentFor('biographie') %>

<h1 class="text-center">  BIOGRAPHIE DE  BLUKER ROSELYNE </h1>
 
<p class="text-center biographie">
Animée par la musique depuis l'enfance, c'est à l'école maternelle que Bluker Roselyne
réalisa sa première scène devant une foule de parents attendris! Par la suite, elle eut l'occasion de se
produire aux côtés de grands artistes locaux (Thierry jardinot, Davy Sicard, Jessica Persée, Théâtre
vollard, etc.). <br> Discrète sur de grandes scènes et aussi présente dans les bars d'hôtel de l'île, Roselyne
Bluker évolue dans différents styles (jazz, séga, variété, maloya) jusqu'à ce qu'elle fasse une
rencontre extraordinaire qui va chambouler toute sa vie : Dieu. <br>
Fonnkézer, elle s'adonne à l'écriture de pôemes en créole réunionnais qui témoigne de sa
renaissance. Elle finit par mettre en musique ses textes et les partager : sur sa page artiste, pendant
quelques prestations musicales, ou encore sur les ondes d'une radio "très colorée" de l'île, partenaire
de l'artiste. <br>
En préparation de la sortie de son premier album, cette femme de 32 est également sensible
aux actions humanitaires ne demande qu'a être sollicitée ... pour un monde meilleur!</p>
