<%- contentFor('discographie')%>
<div class="discographie">
    <h1 class="titledisco text-center"> KER VAYAN </h1>
    <p class="text-center"> Premier Single 
    </p>
    <div class="text-center">
        <img src="img/singlekervayan.jpg" alt="single" width="400px" height="auto">
    </div>
</div>