<%- contentFor('discographie')%>
<div class="discographie">
    <p class="text-center"> Si vous souhaitez vous procurez mon premier single
        <strong>Ker Vayan</strong> contactez-moi par le formulaire de contact
        <a href="">ici </a>
    </p>
    <div class="text-center">
        <img src="img/singlekervayan.jpg" alt="single">
    </div>
</div>