<%- contentFor('index') %>
    <div class="accueil text-center">
        <iframe width="720" height="480" class="video" src="https://www.youtube.com/embed/9faQdpNXTEY" frameborder="0" allow="autoplay; encrypted-media"
            allowfullscreen></iframe>
    </div>