<%- contentFor('index') %>

    <h1 class="text-center bienvenue wow tada" data-wow-duration="3.0s"> Bienvenue sur mon site ! </h1>

    <div class="video text-center wow fadeIn" data-wow-duration="6.0s">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/9faQdpNXTEY" frameborder="0" allow="autoplay; encrypted-media"
                allowfullscreen></iframe>
        </div>
    </div>