<%- contentFor('nonvalidationemail') %>
        <p class="text-center"> Votre mail n'a pas été envoyé </p>

        <p class="text-center"> Réessayer en cliquant
            <a href="/contact"> ici </a>
        </p>