<%- contentFor('nonvalidationemail') %>
   
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <p class="text-center"> Votre mail n'a pas été envoyé </p>
    
    <br>
    <br>
    
    <p class="text-center"> Réessayer en cliquant <a href="/contact"> ici </a></p>
</div>