<%- contentFor('validationemail') %>

    <body>
        <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p class="text-center"> Votre mail a bien été envoyé ! Si vous souhaitez continuer à visiter le site,
                <br> utilisez la barre de naviguation supérieur ou bien cliquez sur
                <a href="/">l'accueil</a>
            </p>
          
        </div>