/* ================ NAVBAR ============ */

.navbar {
    background: #F7CEAB;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-weight: bold;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #0095B2;
    font-weight: bold;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    margin-left: 510px;
}

.navbar-right{
    margin-top: -12px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-menu {
    background: #F7CEAB;
}

.dropdown-menu>li>a {
    color: #fff;
    font-weight: bold;
}

.dropdown-menu>li>a:hover {
    color: #0095B2;
    font-weight: bold;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}


.linkdrop {
    color: #fff;
    font-weight: bold;
    
}

.linkdrop:hover {
    color: #0095B2;
    font-weight: bold;
    text-decoration: none;
  
}

.fa-facebook-square {
    margin-top: 10px;
}


/* ================== VIDEO ===================*/

.video {
    margin-top: 155px;
}


/* ================= BIOGRAPHIE ==================*/

.biographie {
    width: 691px;
    margin-left: 612px;
    margin-top: 10px;
    font-size: 21px;
}

.h1bio {
    margin-top: 95px;
}


/* ================= DISCOGRAPHIE ==================*/

.discographie {
    margin-top: 60px;
    margin-bottom: -60px;
}


/*================= PHOTOS ====================*/

.firstconcert {
    margin-top: 100px;
    margin-left: 360px;
}

.avril9{
    margin-top: 130px;
}

.septembre14 {
    margin-top : 150px;
}


.concert{
    margin-bottom: 44%;
}

.jerryp {
    margin-top: -300px;
}

/* ================= FOOTER ==================*/

footer {
    background-color: #F7CEAB;
    color: white;
    height: 50px;
    margin-top: 195px;
    padding-top: 15px;
}


/* =================================================== MEDIA QUERIES ======================================================================*/


